In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import os

In [4]:
# It will convert into DataFrame
os.chdir(r"/home/deathblade287/Dropbox/ML")
data = pd.read_csv("insurance-premium.csv")

In [5]:
data

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
le = LabelEncoder()

# Cols where we ahve text are referred as "categorical variables
# we convert them to numbers withg the help of Label Encoding

data["gender"] = le.fit_transform(data["gender"])
data["smoker"] = le.fit_transform(data["smoker"])
data["region"] = le.fit_transform(data["region"])

In [7]:
data

      age  gender     bmi  children  smoker  region      charges
0      19       0  27.900         0       1       3  16884.92400
1      18       1  33.770         1       0       2   1725.55230
2      28       1  33.000         3       0       2   4449.46200
3      33       1  22.705         0       0       1  21984.47061
4      32       1  28.880         0       0       1   3866.85520
...   ...     ...     ...       ...     ...     ...          ...
1333   50       1  30.970         3       0       1  10600.54830
1334   18       0  31.920         0       0       0   2205.98080
1335   18       0  36.850         0       0       2   1629.83350
1336   21       0  25.800         0       0       3   2007.94500
1337   61       0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [8]:
y = data["charges"]
data = data.drop("charges",axis=1)

In [9]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [10]:
print(len(data.columns))
data.columns

6

Index(['age', 'gender', 'bmi', 'children', 'smoker', 'region'], dtype='object')

In [11]:
data

      age  gender     bmi  children  smoker  region
0      19       0  27.900         0       1       3
1      18       1  33.770         1       0       2
2      28       1  33.000         3       0       2
3      33       1  22.705         0       0       1
4      32       1  28.880         0       0       1
...   ...     ...     ...       ...     ...     ...
1333   50       1  30.970         3       0       1
1334   18       0  31.920         0       0       0
1335   18       0  36.850         0       0       2
1336   21       0  25.800         0       0       3
1337   61       0  29.070         0       1       1

[1338 rows x 6 columns]

In [12]:
data = data.drop("smoker",axis=1)

In [13]:
sc = StandardScaler()
data = sc.fit_transform(data)

In [14]:
data

array([[-1.43876426, -1.0105187 , -0.45332   , -0.90861367,  1.34390459],
       [-1.50996545,  0.98959079,  0.5096211 , -0.07876719,  0.43849455],
       [-0.79795355,  0.98959079,  0.38330685,  1.58092576,  0.43849455],
       ...,
       [-1.50996545, -1.0105187 ,  1.0148781 , -0.90861367,  0.43849455],
       [-1.29636188, -1.0105187 , -0.79781341, -0.90861367,  1.34390459],
       [ 1.55168573, -1.0105187 , -0.26138796, -0.90861367, -0.46691549]])

In [15]:
# Dividing Data Into Training & Test For Model
seed = 9
test_size = 0.3
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=test_size, random_state=seed)

In [16]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression(normalize=True)
type(X_test)

numpy.ndarray

In [17]:
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [18]:
# Accuracy Of Model
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.11218771950034656

# Predicting Value For New Customer
<br>
 - For a new customer, this model will predict/calculate the insurance premium <br>
 - based on existing 5 aspects (features/variables)

In [19]:
# Defining New Row To Be Pridicted
new_cust = np.array([[29,1,30.9,0,1,2]])
type(new_cust)

numpy.ndarray

In [20]:
premium = clf.predict(new_cust)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 5 is different from 6)

In [39]:
premium

array([187388.42293299])