In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import os, sys
os.chdir(r"/home/deathblade287/Dropbox/ML/Projects/utils")
from utils import define_y_axis, auto_dropper, label_encoder_auto, last

## Feature Engineering (Manual Changes)

 - Understanding business granularities to agree what features are required
 - Add or remove features
 - Combining multiple features
 - Creating new features (by doing different operations on multiple features log, exponential, square, cube, etc)
 - Data Augmentation

Note: Using Pandas, Numpy, Scipy

In [2]:
# Loading Database
os.chdir(r"/home/deathblade287/Dropbox/ML/Projects/Insurance_Premium")
data = pd.read_csv("insurance-premium.csv")

In [3]:
data

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
# Creating The "y" Axis + Removing It From Database

# y = data["charges"]
# data = data.drop("charges",axis=1)

data, y = define_y_axis(data, "charges")

In [5]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [6]:
print(len(data.columns))
print(data.columns)
type(data.columns)
list(data.columns)

6
Index(['age', 'gender', 'bmi', 'children', 'smoker', 'region'], dtype='object')

['age', 'gender', 'bmi', 'children', 'smoker', 'region']

In [7]:
data

      age  gender     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [8]:
# Dropping Useless Columns  + Features
data = data.drop("region",axis=1)
data = data.drop("bmi",axis=1)
data = data.drop("smoker",axis=1)
# auto_dropper(data, y)

In [9]:
data

      age  gender  children
0      19  female         0
1      18    male         1
2      28    male         3
3      33    male         0
4      32    male         0
...   ...     ...       ...
1333   50    male         3
1334   18  female         0
1335   18  female         0
1336   21  female         0
1337   61  female         0

[1338 rows x 3 columns]

In [10]:
data, columns_encoded = label_encoder_auto("insurance-premium.csv",
                           path=r"/home/deathblade287/Dropbox/ML/Projects/Insurance_Premium")

In [11]:
sc = StandardScaler()
data = sc.fit_transform(data)

In [12]:
data

array([[-1.43876426, -1.0105187 , -0.50246878, ...,  1.97058663,
         1.34390459,  0.87383048],
       [-1.50996545,  0.98959079,  0.61050765, ..., -0.5074631 ,
         0.43849455, -1.58089056],
       [-0.79795355,  0.98959079,  0.47229489, ..., -0.5074631 ,
         0.43849455, -0.93613788],
       ...,
       [-1.50996545, -1.0105187 ,  1.13426126, ..., -0.5074631 ,
         0.43849455, -1.64562476],
       [-1.29636188, -1.0105187 , -0.87346093, ..., -0.5074631 ,
         1.34390459, -1.49285204],
       [ 1.55168573, -1.0105187 , -0.2696894 , ...,  1.97058663,
        -0.46691549,  1.3036656 ]])

In [13]:
# Dividing Data Into Training & Test For Model
seed = 9
test_size = 0.3
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=test_size, random_state=seed)

In [14]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression(normalize=True)
type(X_test)

numpy.ndarray

In [15]:
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [16]:
# Accuracy Of Model
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.8707798375131178

# Predicting Value For New Customer
<br>
 - For a new customer, this model will predict/calculate the insurance premium <br>
 - based on existing 5 aspects (features/variables)

In [17]:
# Defining New Row To Be Pridicted
new_cust = np.array([[29,1,30.9,0,1,2]])
type(new_cust)

numpy.ndarray

In [18]:
premium = clf.predict(new_cust)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 7 is different from 6)

In [ ]:
premium

In [ ]:
# Step 0: Problem Statment + Basic Finding & Cleaning Of Data
# Step 1: Visualize Data, Understand It, Try Dropping & Different Algo's
# Step 2: Drop The 'y' Column
# Step 3: Drop Useless Columns + Features (Make Program Try All Combinations Of Dropping, & Then Give Hieghest Acuuracy One)
# Step 4: Label Encoder + Scaling
# Step 5: Choose Algorythem + Create Training & Test Data + Run Algorythm (Final)

# Product: Predict New Value For Customer